In [1]:
!pip install python-twitter

Requirement already satisfied: python-twitter in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (3.4.2)
Requirement already satisfied: requests-oauthlib in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from python-twitter) (1.0.0)
Requirement already satisfied: requests in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from python-twitter) (2.18.4)
Requirement already satisfied: future in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from python-twitter) (0.16.0)
Requirement already satisfied: oauthlib>=0.6.2 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests-oauthlib->python-twitter) (2.1.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests->python-twitter) (2018.8.24)

In [2]:
!pip install tweepy

Requirement already satisfied: tweepy in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (3.6.0)
Requirement already satisfied: six>=1.10.0 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from tweepy) (1.11.0)
Requirement already satisfied: PySocks>=1.5.7 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests>=2.11.1 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from tweepy) (2.18.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from tweepy) (1.0.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<2.7,>=2.5 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests>=2.11.1->tweepy) (2.6)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests>=2.11.1->tweepy) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests>=2.11.1->tweepy) (2018.8.24)
Requirement already satisfied: oauthlib>=0.6.2 in /Users/emmaeleanoryork/anaconda3/lib/python3.6/site-packages (from requests-oauthlib>=0.7.0->tweepy) (2.1.0)

In [3]:
consumer_key = 'HKX1Nh9XGxcdLnFc0XVkT5dEb'
consumer_secret = "pMdPRPOsBfBN2qaN7VNwaKSD3hoUhNQGGInh3OfyNj6iPEI3MQ"
access_token = '1045109120683188224-p8crxonR7fWEZZcUkgc0YEt7nB5xKo'
access_secret = 'tVN6tVn1HzgrSsmzJKSs8ZweYdWzMCMQthIXiOnnmxbZ4'

In [4]:
import tweepy

# creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

# setting access token and secret
auth.set_access_token(access_token, access_secret)

# creating the API object while passing in auth information
# the wait on rate avoids asking too much of twitter
api = tweepy.API(auth, 
                 wait_on_rate_limit = True,
                 wait_on_rate_limit_notify = True)

In [5]:
#You can check how many queries you have left using rate_limit_status() method
api.rate_limit_status()['resources']['search']

{'/search/tweets': {'limit': 180, 'remaining': 180, 'reset': 1538433660}}

In [6]:
name = "ultabeauty"
# Number of tweets to pull
tweetCount = 200

# Calling the user_timeline function with our parameters
results = api.user_timeline(id=name, count=tweetCount, include_rts = False)

In [7]:
# DO NOT RUN THIS CELL AGAIN!!!

import pandas as pd
ulta_oct_1 = pd.DataFrame(data=[tweet.text for tweet in results],
                             columns = ['Tweets'])

In [ ]:
# RUN ON OCT 3RD!!!

import pandas as pd
ulta_oct_3 = pd.DataFrame(data=[tweet.text for tweet in results],
                             columns = ['Tweets'])

In [8]:
ulta_oct_1.head()

                                              Tweets
0  @yece_cruz You sure will! If you have any issu...
1  @ObsoleteEnigma Happy to help! All bonus point...
2  @GeerCatherine That is sad. Please exchange th...
3  @squiggg We're sorry to hear about this, Chris...
4  @givethemglorie So sorry for the inconvenience...

In [9]:
import numpy as np

ulta_oct_1['ID'] = np.array([tweet.id for tweet in results])
ulta_oct_1['Date'] = np.array([tweet.created_at for tweet in results])
ulta_oct_1['Source'] = np.array([tweet.source for tweet in results])
ulta_oct_1['Likes'] = np.array([tweet.favorite_count for tweet in results])
ulta_oct_1['RTs'] = np.array([tweet.retweet_count for tweet in results])
ulta_oct_1['Length'] = np.array([len(tweet.text) for tweet in results])

In [10]:
ulta_oct_1.head()

,Tweets,ID,Date,Source,Likes,RTs,Length
0,@yece_cruz You sure will! If you have any issu...,1046887119824793600,2018-10-01 22:18:34,Sprinklr,0,0,112
1,@ObsoleteEnigma Happy to help! All bonus point...,1046872002236174337,2018-10-01 21:18:29,Sprinklr,0,0,140
2,@GeerCatherine That is sad. Please exchange th...,1046865084792881152,2018-10-01 20:51:00,Sprinklr,0,0,91
3,"@squiggg We're sorry to hear about this, Chris...",1046840046391824386,2018-10-01 19:11:31,Sprinklr,0,0,140
4,@givethemglorie So sorry for the inconvenience...,1046816144089391104,2018-10-01 17:36:32,Sprinklr,0,0,140

In [11]:
ulta_oct_1.set_index('Date', inplace=True)

In [12]:
ulta_oct_1.head()

,Tweets,ID,Source,Likes,RTs,Length
Date,,,,,,
2018-10-01 22:18:34,@yece_cruz You sure will! If you have any issu...,1046887119824793600,Sprinklr,0,0,112
2018-10-01 21:18:29,@ObsoleteEnigma Happy to help! All bonus point...,1046872002236174337,Sprinklr,0,0,140
2018-10-01 20:51:00,@GeerCatherine That is sad. Please exchange th...,1046865084792881152,Sprinklr,0,0,91
2018-10-01 19:11:31,"@squiggg We're sorry to hear about this, Chris...",1046840046391824386,Sprinklr,0,0,140
2018-10-01 17:36:32,@givethemglorie So sorry for the inconvenience...,1046816144089391104,Sprinklr,0,0,140

In [13]:
ulta_oct_1.tail()

,Tweets,ID,Source,Likes,RTs,Length
Date,,,,,,
2018-09-24 20:44:00,@Jack_Becausewhy It should be in your emails f...,1044326608516075521,Sprinklr,0,0,140
2018-09-24 19:36:00,@_lauragurrola We’re so excited about this lau...,1044309495701282816,Sprinklr,1,0,140
2018-09-24 19:30:01,"It's fall, y'all. Kick it off with a new stash...",1044307988436189185,Sprinklr,106,18,140
2018-09-24 19:18:31,"@LisaLDukes1 Hi, Lisa. We’ve sent you an email...",1044305094018322432,Sprinklr,1,1,132
2018-09-24 18:38:32,@bxngtanx1d It looks like our website is up an...,1044295034697396225,Sprinklr,0,0,140